<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>From Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="startDate"
              placeholder="Start Date"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>To Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="endDate"
              placeholder="End Date"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Subscriptions</label>
            <select
              style="height: 40px"
              type="text"
              [(ngModel)]="payoutType"
              class="field"
              placeholder="Select type"
            >
              <option value="1">Include all the unpaid subscriptions</option>
              <option value="2">
                Include subscriptions within the specified date range
              </option>
              <option value="3">Do not include subscription in payout</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <label style="visibility: hidden; display: block; margin-bottom: 0px"
            >Date</label
          >
          <button
            style="width: 100%"
            (click)="calculatePayout(0)"
            [disabled]="gettingCalculations"
            class="btn button-theme"
          >
            Calculate Payouts
            <span
              *ngIf="gettingCalculations"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >
            </span>
          </button>
          <!-- <div class="col-md-6">
              <button [disabled]="disableTransferBtn" (click)="calculatePayout(1)" *ngIf="showTransferBtn"
            class="btn button-theme transfer-btn">Transfer all
            <span *ngIf="disableTransferBtn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
            </span>
          </button>
            </div> -->
        </div>
        <div class="col-md-3">
          <button
            style="width: 100%"
            class="btn button-theme button-for-mobile"
            (click)="financeReportSummaryNewFormat()"
            *ngIf="total_selected > 0"
          >
            EMAIL INVOICES <span>({{ total_selected }})</span>
            <span
              *ngIf="gettingSummaryReportNew"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="table-responsive desktop-view">
      <div *ngIf="showCalculateMessage">
        <div class="alert alert-info" role="alert">
          {{ calculateMessage }}
        </div>
      </div>
      <div *ngIf="showcalculateAllMessages">
        <div class="alert alert-info" role="alert">
          {{ calculateAllMessages }}
        </div>
      </div>
      <table
        *ngIf="showDetails"
        class="table table-bordered table-hover"
        id="price-table"
      >
        <thead class="bg-theme white-text sorting">
          <tr>
            <th>
              <mdb-checkbox
                [(ngModel)]="main_check"
                [default]="true"
                (change)="checkAllCheckBox()"
              ></mdb-checkbox>
            </th>
            <th>Merchant Name</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Number Of Orders</th>
            <th>Sub Total</th>
            <th>Tax</th>
            <th>Commission</th>
            <th>Square Fee</th>
            <th>Processing Fee</th>
            <th>Error Charges</th>
            <th>Staff Tips</th>
            <th>Order Adjustments</th>
            <th>Market Price Facilitator Tax</th>

            <th>Subscription Adjustments</th>
            <th>Revenue Processing Fee</th>
            <!-- <th>Subscription Date(s)</th> -->
            <th>Net Payout</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of BulkPayoutsObj.payouts">
            <td>
              <mdb-checkbox
                [(ngModel)]="item.checked"
                (change)="ischeckAllCheckBox($event)"
                [default]="true"
              ></mdb-checkbox>
            </td>
            <td>{{ item.merchantName }}</td>
            <td>{{ item.startDate }}</td>
            <td>{{ item.endDate }}</td>
            <td>
              {{ item.numberOfOrders }}
            </td>
            <td>$ {{ item.subTotal }}</td>
            <td>$ {{ item.tax }}</td>
            <td>$ {{ item.commission }}</td>
            <td>$ {{ item.squarefee }}</td>
            <td>$ {{ item.processingFee }}</td>
            <td>$ {{ item.errorCharges }}</td>
            <td>$ {{ item.staffTips }}</td>
            <td>$ {{ item.orderAdjustments }}</td>
            <td>$ {{ item.marketplaceTax }}</td>

            <td>$ {{ item.subscriptionAdjustments }}</td>
            <td>$ {{ item.RevenueProcessingFee | number : "1.2-2" }}</td>
            <!-- <td>
              <ul>
                <li *ngFor="let p of item.subscriptions">{{p.date}} ($ {{p.amount}})</li>
              </ul>
            </td> -->
            <td>$ {{ item.netPayout }}</td>
            <td>
              <ng-container *ngIf="item.netPayout == 0.0"
                >Nothing to Transfer</ng-container
              >
              <ng-container *ngIf="item.netPayout != 0.0">{{
                SubscriptionDescription[item.status]
              }}</ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Table for Mobile view -->
    <div class="mt-2 mobile-view">
      <div class="table-responsive">
        <div *ngIf="showCalculateMessage">
          <div class="alert alert-info" role="alert">
            {{ calculateMessage }}
          </div>
        </div>
        <div *ngIf="showcalculateAllMessages">
          <div class="alert alert-info" role="alert">
            {{ calculateAllMessages }}
          </div>
        </div>
        <table class="table" *ngIf="expandtable.length > 0">
          <thead class="sorting">
            <tr class="mobile-table-bg">
              <th scope="col"></th>
              <th scope="col">
                <mdb-checkbox
                  [(ngModel)]="main_check"
                  [default]="true"
                  (change)="checkAllCheckBox()"
                ></mdb-checkbox>
              </th>

              <th role="col">Merchant Name</th>
            </tr>
          </thead>

          <tbody *ngFor="let item of expandtable">
            <tr class="" (click)="onChangeExpandtable(item.idx)">
              <td>
                <!-- Add Icon -->
                <div *ngIf="!item.expandtable">
                  <i class="fas fa-caret-down"></i>
                </div>
                <!-- Minus Icon -->
                <div *ngIf="item.expandtable">
                  <i class="fas fa-sort-up"></i>
                </div>
              </td>
              <td>
                <mdb-checkbox
                  [(ngModel)]="item.checked"
                  (change)="ischeckAllCheckBox($event)"
                  [default]="true"
                ></mdb-checkbox>
              </td>
              <td>
                {{ BulkPayoutsObj.payouts[item.idx].merchantName }}
              </td>
            </tr>

            <!-- Expandable Area -->
            <tr
              class="hide-table-padding"
              *ngIf="item.expandtable"
              style="background-color: #eee"
            >
              <td></td>
              <td colspan="3">
                <div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      From Date
                    </div>
                    <div style="font-size: 15px; width: unset">
                      {{ BulkPayoutsObj.payouts[item.idx].startDate }}
                    </div>
                  </div>

                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      To Date
                    </div>
                    <div style="font-size: 15px; width: unset">
                      {{ BulkPayoutsObj.payouts[item.idx].endDate }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Number Of Orders
                    </div>
                    <div style="font-size: 15px; width: unset">
                      {{ BulkPayoutsObj.payouts[item.idx].numberOfOrders }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Sub Total
                    </div>
                    <div style="font-size: 15px; width: unset">
                      {{ BulkPayoutsObj.payouts[item.idx].subTotal }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Tax
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].tax }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Commission
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].commission }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Square Fee
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].squarefee }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Processing Fee
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].processingFee }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Error Charges
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].errorCharges }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Staff Tips
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].staffTips }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Order Adjustments
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].orderAdjustments }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Market Price Facilitator Tax
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $ {{ BulkPayoutsObj.payouts[item.idx].marketplaceTax }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Subscription Adjustments
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $
                      {{
                        BulkPayoutsObj.payouts[item.idx].subscriptionAdjustments
                      }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Revenue Processing Fee
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $
                      {{
                        BulkPayoutsObj.payouts[item.idx].RevenueProcessingFee
                          | number : "1.2-2"
                      }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Net Payout
                    </div>
                    <div style="font-size: 15px; width: unset">
                      $
                      {{ BulkPayoutsObj.payouts[item.idx].netPayout }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div
                      style="
                        font-weight: 600;
                        margin-left: -1.8em;
                        font-size: 15px;
                      "
                    >
                      Status
                    </div>
                    <div style="font-size: 15px; width: unset">
                      <ng-container
                        *ngIf="
                          BulkPayoutsObj.payouts[item.idx].netPayout == 0.0
                        "
                        >Nothing to Transfer</ng-container
                      >
                      <ng-container
                        *ngIf="
                          BulkPayoutsObj.payouts[item.idx].netPayout != 0.0
                        "
                        >{{
                          SubscriptionDescription[
                            BulkPayoutsObj.payouts[item.idx].status
                          ]
                        }}</ng-container
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
