.row {
  align-items: baseline;
}
table > tbody {
  background-color: #fff;
}
#price-table {
  width: max-content;
}
.payout-icons {
  font-size: 25px;
  color: #4285f4;
  cursor: pointer;
}
.payout-icons2 {
  font-size: 25px;
  color: #00305a;
  margin-left: 15px;
  cursor: pointer;
}
