.download-btn{
  display:block;
  background-color: #00305a !important;
}
#download-div{
display: flex;
align-items: center;
}
.fill-input{
  display: flex;
  flex-direction: column;
  // margin-bottom: 2rem;
}
@media screen and (max-width: 575px) {
  .download-btn{
    display:none !important;
  }

}
