.tabs {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-top: 2em;
}

.tab {
  padding: 10px 30px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.custom-toggle::after {
  display: none;
  /* Hide the default dropdown arrow */
}

.tab.active {
  border-bottom: 2px solid #3d5f90;
  color: inherit;
  font-weight: 500;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #3d5f90;
  transition: transform 0.3s ease;
}

.did-floating-label-content {
  margin-bottom: 30px !important;
}

.tab-content {
  margin-top: 20px;
}

.did-floating-select,
.did-floating-input {
  color: #43474e;
  border-bottom: 2px solid #97999f !important;
  border-radius: 0px !important;
  height: 55px;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  padding-top: 1em;
}

.did-floating-label {
  left: 15px;
  top: 6px !important;
  padding: 0 5px;
  background: none;
}

.did-floating-label {
  font-size: 12px !important;
}

.select-days-div {
  justify-content: flex-start !important;
  gap: 1.5em;
}

a {
  text-decoration: underline;
}

.move-path {
  text-decoration: none !important;
}

hr {
  height: 0px !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
}

.price-div {
  text-align: left;
  width: 50%;
  margin-left: auto;
  text-wrap: wrap;
}

.item-name {
  width: 50%;
  margin-right: auto;
}

.did-floating-label-content-for-platform {
  margin-bottom: 30px !important;
}

.did-floating-input-for-platform {
  color: #43474e;
  border-bottom: 2px solid #97999f !important;
  border-radius: 0px !important;
  height: 55px;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  padding-top: 1em;
}

.did-floating-label-for-platform {
  left: 15px;
  top: 6px !important;
  padding: 0 5px;
  background: none;
  font-size: 12px !important;
}

.loader-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-details {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 0 20px;
  background: #fff;
  color: #43474e;
  border: 2px solid #97999f;
  border-radius: 4px !important;
  box-sizing: border-box;
  height: 55px;
}

.select-detail-label {
  color: #43474e;
  font-size: 13px !important;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: -8px !important;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* media query */
@media screen and (max-width: 768px) {
  .head {
    font-weight: 500;
    padding-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
  }

  .select-days-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em !important;
  }
  .table-responsive {
    overflow-x: auto !important;
    margin-left: 0em;
    width: 100%;
    margin-bottom: 1em;
  }
}

.image-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box {
  width: 0px;
  height: 150px;
  border-radius: 10px;
  background-color: #f0f0f0;

  margin-bottom: 10px;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.disabled-button {
  background-color: #a0b5d8;
  cursor: not-allowed;
}

.float-right {
  margin-left: auto;
  /* Pushes the button to the right */
  display: inline-block;
  /* Ensure the button behaves correctly */
}

.example-card {
  max-width: 400px;
}

.modal-header {
  background: none !important;
  color: #000 !important;
  border-bottom: 0px;
}
table.table td {
  padding: 12px 8px !important;
  width: 20px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.uploaded-files {
  display: flex;
  align-items: flex-start;
  width: 300px;
  position: relative;
}
.file-preview {
  width: 300px;
  border-radius: 5px;
}
.remove-file {
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background-color: #3d5f90;
  display: block;
  height: fit-content;
  padding: 0.2em 0.7em;
  /* margin: 0.1em; */
  border-radius: 4px;
  right: 0;
}
.modal-header {
  background: none !important;
  color: #000 !important;
  border-bottom: 0px;
}
