.btn-orange-tab {
    color: white;
    padding: 0.1rem 1.36rem !important;
    border-radius: 30px !important;
    margin: 0em 0.2em !important;
    border: 1px solid #e9e6e6 !important;
    // background-color: #00305a;
}
.tableBody tr {
  border-bottom: 1px solid #ccc !important;
}
.tableBody tr td{
  padding: 0.5em 0em !important;

}
