div>h2 {
  margin: 0rem 2rem;
}

#link {
  text-align: right !important;
  text-decoration: underline;
}

#buttons-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  transition: all 0.4 ease;
}

.checkbox-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.4s ease;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
}

.checkbox-div:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.radio-div {
  margin-right: 40px;
}

.row {
  align-items: center !important;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  width: 84px;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 84px;
  height: 33px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  margin-top: -5px;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
  background: #ee4423;
}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 54px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

// ============media query============

@media screen and (max-width:1024px) {
  .checkbox-div {
    flex-direction: column;
    padding: 0px 5px;
    align-items: flex-start;
  }

  .form-check {
    padding: 0.25rem !important;
  }
}

@media screen and (max-width:767px) {
  .checkbox-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10px 0px
  }

  .platforms-btn {
    width: 50%;
  }

  .auto-sync-div {
    margin: 0px 4px;
  }

}

@media screen and (max-width:575px) {
  .modal-body {
    overflow-y: auto;
    height: 66vh
  }

  .modal-title {
    font-size: 1em;
  }

  .modal-footer button {
    font-size: 11px;
    box-shadow: none;
  }

  .btn-close-mobile {
    display: none;
  }
}

@media screen and (max-width:550px) {
  .checkbox-div {
    width: 70%;

  }

  .platforms-btn {
    width: 70%;
  }

  .auto-sync-div {
    margin: 0px 4px;
  }

}

@media screen and (max-width:415px) {
  .checkbox-div {
    width: 90%;

  }

  .platforms-btn {
    width: 90%;
  }

  .auto-sync-div {
    margin: 0px 4px;
  }

}