<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Grubhub</h5>
      <div class="card-body">
        <!-- Store Name: {{ConnectedPlatforms.filter(x => x.platformtype == 3)[0].metadata}} -->
        <span
          *ngIf="isProcessing"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Username</label>
              <input
                type="text"
                [(ngModel)]="username"
                class="field"
                placeholder="Username or email"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Password</label>
              <input
                type="text"
                [(ngModel)]="password"
                class="field"
                placeholder="Password "
              />
            </div>
          </div>
          <div class="col-md-4">
            <div style="padding-top: 23px">
              <button
                type="button"
                [disabled]="!username || !password"
                (click)="savePassword()"
                class="btn button-theme save-btn"
              >
                Save
              </button>
              <button
                type="button"
                *ngIf="hasUsername"
                (click)="deletePassword()"
                class="btn button-theme save-btn"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
