.h-100vh {
    height: 100vh;
    background-color: #ddd;
    div {
        font-size: 100px;
        font-weight: 800;
        .four {
            color:#00305a;
        }
        .zero {
            color: #603813;
            margin: 0 10px;
        }
    }
}

