<!-- <div class="main-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="d-flex height-100 justify-content-center align-items-center">
          <div class="signup-blk">
            <div class="text-center">
              <a href="#"><img src="assets/images/logo.svg" height="78%" width="78%"></a>
            </div>

            <h2 class="text-center mt-3 mb-4">Forgot password</h2>

            <div class="form-group">
              <input [(ngModel)]="email" class="field" type="email" placeholder="Email">
            </div>

            <button [disabled]="processing || !email" (click)="Reset()" class="orange-bt btn-block">
              <span *ngIf="processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              &nbsp; Submit</button>
            <a routerLink="/accounts/login" routerLinkActive mdbWavesEffect>
              Login Instead
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <img
      class="dashboard-logo-for-mobile"
      src="../../../assets/images/logo.svg
    "
      alt=""
    />
    <div class="form">
      <h4 class="fonda-head mb-0">Forgot Password</h4>
      <span class="description">Having trouble logging in?</span>
      <ul>
        <li>Username are typically your email address.</li>
        <li>Password are case sensitive.</li>
        <li>Check the web address for the correct environment.</li>
      </ul>
      <span class="description mb-3"
        >To reset your password,enter your fonda username.</span
      >
      <div class="did-floating-label-content">
        <input
          type="text"
          [(ngModel)]="email"
          class="did-floating-input"
          placeholder="Type here"
        />
        <label class="did-floating-label">Username</label>
      </div>
      <div class="btn-group w-100 gap-3 mb-3 mt-1">
        <button class="outline-button" (click)="cancel()">Cancel</button>
        <button [disabled]="processing || !email" (click)="Reset()">
          Continue
          <span
            id="sppiner"
            *ngIf="processing"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <iframe
          [src]="iframeUrl"
          width="100%"
          height="100%"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
