<!-- <div class="main-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="d-flex height-100 justify-content-center align-items-center">
          <div class="signup-blk">
            <div class="text-center">
              <a href="#"><img src="assets/images/logo.svg" height="78%" width="78%"></a>
            </div>
            <h2 class="text-center mt-3 mb-4">Enter New Password</h2>
            <div class="form-group">
              <input [(ngModel)]="password" class="field" type="password" placeholder="Password">
            </div>

            <button [disabled]="processing || !password" (click)="Reset()" class="orange-bt btn-block">
              <span *ngIf="processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              &nbsp; Change Password</button>
            <a routerLink="/accounts/login" routerLinkActive mdbWavesEffect>
              Login Instead
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <img
      class="dashboard-logo-for-mobile"
      src="../../../assets/images/logo.svg
    "
      alt=""
    />
    <div class="form">
      <h4 class="fonda-head">Reset Password</h4>

      <div class="did-floating-label-content">
        <input
          [type]="isPasswordVisible ? 'text' : 'password'"
          type="password"
          class="did-floating-input"
          placeholder="Type here"
          [(ngModel)]="password"
        />
        <label class="did-floating-label">New Password</label>
        <i
          [ngClass]="isPasswordVisible ? ' fas fa-eye ' : 'fas fa-eye-slash'"
          class="toggle-password-visibility"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>
      <button [disabled]="processing || !password" (click)="Reset()">
        Change Password
        <span
          id="sppiner"
          *ngIf="processing"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <iframe
          [src]="iframeUrl"
          width="100%"
          height="100%"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
