<div class="main_content_div">
  <h4 class="head">
    <span>{{ "Menus.Categories" | transloco }}</span>
    <div class="details-buttons-div">
      <button class="outline-button" hidden (click)="openModalForSuggestCategory()">
        {{ "Menus.Suggest Category" | transloco }}
      </button>
      <button *ngIf="userRoleType !== 4" class="outline-button" (click)="openModal()">
        {{ "Menus.Add Category" | transloco }}
      </button>
    </div>
  </h4>
  <div class="searchBar">
    <input id="searchQueryInput" type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterCategories()"
      name="searchQueryInput" [placeholder]="'reuseableWords.Search' | transloco" value="" />
    <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="#000"
          d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
      </svg>
    </button>
    <!--<div class="filter">
      <img src="../../../assets/icons/filter.svg" alt="" />
    </div>-->
  </div>

  <div class="table-responsive" style="overflow: visible" *ngIf="!gettingCategories">
    <table class="table">
      <thead>
        <tr class="table-head">
          <th scope="col">{{ "reuseableWords.Action" | transloco }}</th>
          <th scope="col">{{ "reuseableWords.Active" | transloco }}</th>
          <th scope="col">{{ "Menus.Category Name" | transloco }}</th>
          <th scope="col">{{ "Menus.Description" | transloco }}</th>
          <th scope="col">{{ "Menus.Menus" | transloco }}</th>
          <th scope="col">{{ "reuseableWords.Items" | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of CategoriesList">
          <td>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img *ngIf="workingwithremove !== cat.id" src="../../../assets/icons/three-dots.svg" class="three-dots"
                alt="dropdown icon" />
              <span *ngIf="workingwithremove === cat.id" class="spinner-border spinner-border-sm"
                style="width: 1.5rem; height: 1.5rem; margin-left: 5px" role="status" aria-hidden="true"></span>
            </a>
            <div *ngIf="userRoleType !== 4" class="dropdown-menu user_dropdown" aria-labelledby="navbarDropdown">
              <a class="dropdown-item user-dropdown" [routerLink]="['/home/menus/category-details', cat.id]"
                [queryParams]="{ edit: true, merchantid: selectedMerchantId }">
                {{ "reuseableWords.Edit" | transloco }}
              </a>
              <div class="dropdown-divider"></div>
              <!--<a class="dropdown-item user-dropdown" (click)="moveUp(cat.id)">Move up one row</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item user-dropdown" (click)="moveDown(cat.id)">Move down one row</a>
              <div class="dropdown-divider"></div>-->
              <a class="dropdown-item user-dropdown" (click)="OpenConfirmUnAssignCategoryToMenu(cat.id)"
                *ngIf="showRemoveCatAccessBtn">
                {{ "Menus.Remove" | transloco }}
              </a>
            </div>
          </td>

          <td>
            <input type="checkbox" [checked]="cat.categoryStatus" (change)="OpenConfirmToggle(cat, $event)"
              [disabled]="userRoleType == 4" />
          </td>
          <td>
            <a [routerLink]="['/home/menus/category-details', cat.id]"
              [queryParams]="{ merchantid: selectedMerchantId }">{{ cat.categoryName }}</a>
          </td>
          <td class="description-cd">
            {{ cat.categoryDescription | charTruncate : 30 }}
          </td>
          <!-- menu count -->
          <td>
            <a [routerLink]="['/home/menus/category-details', cat.id]"
              [queryParams]="{ merchantid: selectedMerchantId, tab: 'menus' }">{{ cat.menuAssign }}</a>
          </td>
          <!-- item count -->
          <td>
            <a [routerLink]="['/home/menus/category-details', cat.id]"
              [queryParams]="{ merchantid: selectedMerchantId, tab: 'items' }">{{ cat.items.length }}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Its only show when we dont have any menu -->
    <div style="border-bottom: 1px solid #ccc" *ngIf="CategoriesList.length <= 0 && !gettingCategories">
      <p class="pl-3 pr-3 pt-3 pb-0" style="width: max-content">
        {{ "Menus.Your restaurant doesn't have a category" | transloco }}.
      </p>
      <div class="details-buttons-div mb-2">
        <button class="outline-button main-add-button" hidden (click)="openModalForSuggestCategory()">
          {{ "Menus.Suggest Category" | transloco }}
        </button>
        <button *ngIf="userRoleType !== 4" class="outline-button main-add-button" (click)="openModal()">
          {{ "Menus.Add Category" | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="loader-container" *ngIf="gettingCategories">
  <span class="spinner-border spinner-border-md" role="status" aria-hidden="true">
  </span>
</div>

<!-- add category -->
<div mdbModal #createMenuModal="mdbModal" [config]="{ ignoreBackdropClick: true }" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myaddPlatformModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ "Menus.Add Category" | transloco }}
          </h5>
          <button type="button" class="close" (click)="closeModal()">
            <img src="../../../assets/icons/black-cross.svg" class="cross-icon" alt="" />
          </button>
        </div>
        <div class="modal-body">
          <p>
            {{
            "Menus.Name, describe and make your category active" | transloco
            }}
          </p>
          <div class="select-ans mt-2">
            <label class="answer-label mb-4">
              <input type="checkbox" checked [(ngModel)]="editCategoryObj.categoryStatus" />

              {{ "reuseableWords.Active" | transloco }}
            </label>
          </div>
          <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" [(ngModel)]="editCategoryObj.categoryName"
              [placeholder]="'Menus.Category Name' | transloco" />
            <label class="did-floating-label">{{
              "Menus.Category Name" | transloco
              }}</label>
          </div>
          <div class="did-floating-label-content">
            <input class="did-floating-input" type="text" [(ngModel)]="editCategoryObj.posName"
              [placeholder]="'Menus.POS Name' | transloco" />
            <label class="did-floating-label">{{ "Menus.POS Name" | transloco }} ({{
              "Menus.optional" | transloco
              }})</label>
          </div>
          <div class="did-floating-label-content">
            <textarea class="did-floating-input" style="height: 100% !important;"
              [(ngModel)]="editCategoryObj.categoryDescription" [placeholder]="'Menus.Description' | transloco"
              rows="5"></textarea>
            <label class="did-floating-label-textarea">
              {{ "Menus.Description" | transloco }} ({{ "Menus.optional" | transloco }})
            </label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="outline-button main-add-button" (click)="closeModal()">
            {{ "reuseableWords.Cancel" | transloco }}
          </button>
          <button class="button main-add-button" (click)="AddCategoryForMerchant(createMenuModal)"
            [disabled]="!editCategoryObj.categoryName" [ngClass]="{ 'disabled-button': !editCategoryObj.categoryName }">
            {{ "Menus.Add Category" | transloco }}
            <span *ngIf="addingCategories" class="spinner-border spinner-border-sm" style="
                color: white;
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 5px;
              " role="status" aria-hidden="true">
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- suggest category -->
<div mdbModal #suggestCategoryModal="mdbModal" [config]="{ ignoreBackdropClick: true }" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myaddPlatformModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ "Menus.Suggest Category" | transloco }}
          </h5>
          <button type="button" class="close" (click)="closeModalForSuggestCategory()">
            <img src="../../../assets/icons/black-cross.svg" class="cross-icon" alt="" />
          </button>
        </div>
        <div class="modal-body">
          <p>Select Papular categories from similar restaurant to yours.</p>
          <div class="searchBar mb-0 mt-0">
            <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search all categories"
              value="" class="w-100" />
            <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
              <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                <path fill="#000"
                  d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
              </svg>
            </button>
          </div>
          <div class="select-ans mt-4">
            <label class="answer-label mb-0 font-weight-bold">
              <input type="checkbox" />
              Categories
            </label>
            <hr />
            <label class="answer-label mb-0">
              <input type="checkbox" />
              Appetizers
            </label>
            <hr />

            <label class="answer-label mb-0">
              <input type="checkbox" />
              Soups
            </label>
            <hr />

            <label class="answer-label mb-0">
              <input type="checkbox" />
              Salads
            </label>
            <hr />

            <label class="answer-label mb-0">
              <input type="checkbox" />
              Nachos
            </label>
            <hr />

            <label class="answer-label mb-0">
              <input type="checkbox" />
              Tacos
            </label>
            <hr />

            <label class="answer-label mb-0">
              <input type="checkbox" />
              Burritos
            </label>
            <hr />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="outline-button main-add-button" (click)="closeModalForSuggestCategory()">
            Cancel
          </button>
          <button class="button main-add-button">Add Category</button>
        </div>
      </div>
    </div>
  </div>
</div>